body {
  font-family:monospace;
  text-align: center;
  background-image: url("img/swamming.gif");
  background-repeat: repeat-y;
  background-size: cover;
}

h1 {
  background-color: dodgerblue;
  margin: 30px;
  padding: 15px;
}

h2 {
  background-color: lightskyblue;
  margin: 30px;
  padding: 15px;
}

p {
  background-color:thistle;
  margin: 30px;
  padding: 15px;
}

#numberInput {
  margin: 0 auto 1em auto;
}

.btn {
  background-color: mediumpurple;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
  animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }  

.computerinoed-numbers {
  display: none;
}

#biden {
    display: none;
}

 